

label{
  margin-right: 15px;
}

div.topic {
  float: left;
  width: 75%;
  margin: 0;
  padding: 0 15px;
  overflow: hidden;
}

.topic-label {
  float: left;
  width: 50%;
  margin: 0;
  cursor: pointer;
  overflow: hidden;
  text-overflow:ellipsis;
  text-tranform: capitalize;
  white-space: nowrap;
}

.topic-label:hover {
  border-color: #ddd;
  color: #888;
}

.topic-label:active {
  border-color: #999;
  color: #222;
}

@media (max-width: 768px) {
  .input-container, .live-preview {
    float: none;
    width: 90%;
    margin: 0 auto;
  }
